<footer>
    <div class="links">
        <a class="icon-link color-black" alt="GitHub" href="https://github.com/{{ site.github_username }}">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a class="icon-link color-blue" alt="Twitter" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a class="icon-link color-violet" alt="Contact Me" href="/contact">
            <i class="fas fa-envelope fa-2x"></i>
        </a>
    </div>
    <p class="footnote">Copyright © {{ site.copright_years }} {{ site.owner }}. All rights reserved.</p>
</footer>