<footer>
    <div class="links">
        <p>
            <a class="icon-link" href="https://github.com/{{ site.github_username }}">
                <i class="icon-link fab fa-github fa-lg"></i> <span class="icon-link">GitHub</span>
            </a>
            <span class="footer-separator">•</span>
            <a class="icon-link" href="https://twitter.com/{{ site.twitter_username }}">
                <i class="icon-link fab fa-twitter fa-lg"></i> <span class="icon-link">Twitter</span>
            </a>
            {% unless page.title == "Contact Me" %}
            <span class="footer-separator">•</span>
            <a class="icon-link" href="/contact">
                <i class="icon-link fas fa-envelope fa-lg"></i> <span class="icon-link">Contact Me</span>
            </a>
            {% endunless %}
        </p>
    </div>
    <p class="footnote">Copyright © {{ site.copright_years }} {{ site.owner }}. All rights reserved.</p>
</footer>