<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    {% if page.page_name == "About" %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ page.page_name }} | {{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Pride Bar @pridecodes -->
    <link rel="stylesheet" href="https://cdn.pride.codes/css/bar_body.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:500,700,800|Open+Sans:400,600,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">
</head>