<div id="navigation-palette">
    <div>
        <h1 class="title">{{ include.title }}</h1>
        {% if site.available_for_hire %}
            <div class="hire-badge">Availabe for Hire</div>    
        {% endif %}
    </div>
    <div id="tab-bar-container">
        <ul class="tab-bar" role="Tablist">
            {% for tab in include.tabs %}
                {% if tab.title == page.page_name %}
                    <li class="tab selected" role="tab" aria-selected="true">
                {% else %}
                    <li class="tab unselected" role="tab" aria-selected="false">
                {% endif %}
                        <a href="{{ tab.path }}" class="no-border">{{ tab.title }}</a>
                    </li>    
            {% endfor %}
            <!--<div class="separator"></div>-->
        </ul>    
    </div>
</div>
