<h2 id="{{ include.talk.id }}">{{ include.talk.title }}</h2>
<h3 class="headline">{{ include.talk.conference }}</h3>

{% if talk.banner_url %}
<div class="banner">
    <div class="video-wrapper">
        {% if talk.yt_video_id %}    
        <div id="{{ talk.yt_video_id }}" class="play" aria-role="button" aria-valuetext="Play demo video" onclick="loadEmbed('{{ talk.yt_video_id }}')">
            <img class="play" class="banner-image" src="{{ talk.banner_url }}"/>
            <div class="play-button-container">
                <div class="play-button-blur">
                    <img src="/assets/play-button.png" class="play-image"/>
                </div>
            </div>        
        </div>
        {% else %}
            {% if talk.banner_needs_border == true %}
            <img class="banner-image" src="{{ talk.banner_url }}" alt="Presentation banner for {{ include.talk.name }}"/>
            {% else %}
            <img src="{{ talk.banner_url }}" alt="Presentation banner for {{ include.talk.name }}"/>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}

{% for line in include.project.description_lines %}
<p style="text-align: justify">{{ line }}</p>
{% endfor %}

<ul class="ctas">
    {% for cta in include.project.ctas %}
    <li>
        <a href="{{ cta.url }}" target="_blank">{{ cta.title }}</a>
    </li>
    {% endfor %}
</ul>

<div class="separator"></div>